*{
    /* margin: 2px; */
    color: #808080;
}
.some{
    color: rgb(236, 232, 232);
    position: absolute;
    left: 0px;
    font-size: 2rem;
    margin: 5px;
}
.pune{
    color: rgb(232, 228, 228);
    font-size: 35px;
    position: absolute;
    left: 6px;
    top: 37px;

}
.icn{
    color: rgb(242, 240, 240);
    font-size: 3rem;
    position: absolute;
    right: 24px;
    top: 25px;
}
.useapp{
    position: absolute;
    height: 47px;
    top: 22px;
    right: 97px;
    font-size: 1.5rem;
    background-color: red;
    color: white;
    border-radius: 13px;
}
@media screen and (max-width: 900px) {
    .leftside, .rightside{
        display: none;
    }
    .mob{
        display: block;
    }
    #navdown{
        display: none;
    }
    .sidemenu{
        display: none;
    }
    .container{
        color: red;
    }
}
@media screen and (max-width: 1200px) {
    #seach-bar{
        width: 300px;
        height: 50px;
        border-radius: 5px;
        padding-left: 50px;
        font-size: 1rem;
        border: none;
        outline: none;
    }
    .list1 > li, .list2 > li{
        
        font-size: 1rem;
    }
}